@model CommerceBankProject.Models.TCategoryAggregatedIndexViewModel

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Category', 'NetAmount'],
            @foreach (var item in Model.tList) {
            <text>['@item.category', @item.NetAmount],</text>
        }]);

        console.log("Data: ", data);
        console.log("Inside Category Graph View Component Default.cs");

        var options = {
            title: 'Categorical Spending',
            width: '100%',
            height: '100%',
            chartArea: { width: '85%', height: '75%' },
            pieHole: 0.4
            };

        var chart = new google.visualization.PieChart(document.getElementById('cat_graph'));
        chart.draw(data, options);
        }
</script>

<div class="container-fluid lead">
    <div id="cat_graph" style="width: 400px; height: 300px"></div>
</div>
