@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration confirmed";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>
        Please check your email to confirm your account before logging in.
    </p>
</div>
