@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1>Dashboard</h1>
</div>

<div class="d-flex justify-content-center">
    <a asp-area="" asp-controller="Notifications" asp-action="Index">
        <div class="icon-container d-inline-block text-center">
            <p class="dash-heading font-weight-bold">Notifications</p>
            <i class="fas fa-bell dash-icon d-block"></i>
        </div>
    </a>

    <a asp-area="" asp-controller="Transactions" asp-action="Index">
        <div class="icon-container d-inline-block text-center">
            <p class="dash-heading font-weight-bold">History</p>
            <i class="fas fa-history dash-icon d-block"></i>
        </div>
    </a>

    <a asp-area="" asp-controller="Transactions" asp-action="Create">
        <div class="icon-container d-inline-block text-center">
            <p class="dash-heading font-weight-bold">Create</p>
            <i class="fas fa-plus-square dash-icon d-block"></i>
        </div>
    </a>
</div>

<div class="d-flex justify-content-center">
    <a asp-area="" asp-controller="Notifications" asp-action="Settings">
        <div class="icon-container d-inline-block text-center">
            <p class="dash-heading font-weight-bold">Settings</p>
            <i class="fas fa-cog dash-icon d-block"></i>
        </div>
    </a>

    <a asp-area="" asp-controller="Transactions" asp-action="Dashboard">
        <div class="icon-container d-inline-block text-center">
            <p class="dash-heading font-weight-bold">Graphs</p>
            <i class="fas fa-chart-pie dash-icon d-block"></i>
        </div>
    </a>

    <a asp-area="Identity" asp-page="/Account/Manage/Index">
        <div class="icon-container d-inline-block text-center">
            <p class="dash-heading font-weight-bold">Account</p>
            <i class="fas fa-user dash-icon d-block"></i>
        </div>
    </a>
</div>