@model IEnumerable<CommerceBankProject.Models.Notification>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1>Notification Center</h1>
</div>
<div class="mt-1">
    <a class="d-inline-block mr-md-5 link-container" asp-action="Settings">
        <p class="d-inline mr-2">Settings</p><i class="d-inline fas fa-cog"></i>
    </a>

    <a class="d-inline-block mr-md-5 link-container" asp-action="Generate">
        <p class="d-inline mr-2">Generate Notifications</p><i class="d-inline fas fa-redo"></i>
    </a>

    <a class="d-inline-block link-container" asp-action="DeleteAll">
        <p class="d-inline mr-2">Delete All</p><i class="d-inline fas fa-trash-alt"></i>
    </a>
</div>
<br />


<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Description
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.onDate)
                </td>
                <td>
                    <form class="d-inline" asp-action="Delete">
                        <input type="hidden" value="@item.ID" name="id" />
                        <button type="submit" class="btn btn-danger" ><i  class="fas fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center">
    <form asp-controller="Home" asp-action="Dashboard">
        <button type="submit" class="btn btn-primary mt-3 mb-3">Dashboard</button>
    </form>
</div>
