@model CommerceBankProject.Models.UserTransactions


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>Create Transaction</h1>
</div>
<div class="row">
    <div class="m-auto settings-container pl-lg-5 pr-lg-5">
        <form asp-action="Create">
            <div class="d-flex mb-3">
                <div class="text-center mr-3">
                    <label for="tranActFilter">Account</label>
                    <div>
                        <select id="tranActFilter" name="tranActFilter">
                            @foreach (var account in Model.userAccounts)
                            {
                                if (account.actID == Model.transaction.actID)
                                {
                                    <option selected value=@account.actID>@account.actType @account.actID</option>
                                }
                                else
                                {
                                    <option value=@account.actID>@account.actType @account.actID</option>
                                }

                            }
                        </select>
                    </div>
                </div>
                <div class="text-center ml-3">
                    <label for="transType">Type</label>
                    <div>
                        <select id="transType" name="transType" onchange="ShowHideDiv()">
                            <option value="CR" selected>Deposit</option>
                            <option value="DR">Withdraw</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="text-center mb-3">
                <label for="category" id="categoryLabel" style="display:none">Category</label>
                <div>
                    
                 <select id="category" name="category" class="mb-3" style="display: none">
                      <option value="Other" selected>Other</option>
                      <option value="Clothing">Clothing</option>
                      <option value="Chores">Chores</option>
                      <option value="Eating Out">Eating Out</option>
                      <option value="Essentials">Essentials</option>
                      <option value="Food">Food</option>
                      <option value="Fun">Fun</option>
                      <option value="Gas">Gas</option>
                      <option value="Phone">Phone</option>
                  </select>
                    

                    
                </div>
            </div>

            <div class="text-center mb-3">
                <label for="amount">Amount</label>
                <div class="d-flex justify-content-center">
                    <input id="amount" name="amount" class="form-control w-50" />
                </div>
            </div>

            <div class="mb-3 text-center">
                <label for="description">Description</label>
                <input id="description" name="description" class="form-control" />
            </div>

            <div class="d-flex justify-content-center mb-3">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center short-button mt-3">
    <a class="link-container d-inline-block" asp-action="Index">
        <p>Back to List</p>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
