@{
    //ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="text-center">
    <h1 class="display-4">Data</h1>
</div>

<div class="row" style="display: flex; justify-content: flex-end">
    <div class="column">
        @(await Component.InvokeAsync("Balance", new { context = Context }))
    </div>
</div>

<div class="row">
    <div class="column">
        @(await Component.InvokeAsync("CategoryGraph", new { context = Context }))
    </div>
    <div class="column">
        @(await Component.InvokeAsync("TransactionSummaryGraph", new { context = Context }))
    </div>
</div>

<div class="row justify-content-center">
    @(await Component.InvokeAsync("TopNTransactions", new { context = Context }))
</div>
