@model CommerceBankProject.Models.TAggregatedIndexViewModel

@{
    ViewData["Title"] = "Graph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Graph</h1>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['MonthYearDate', 'NetAmount'],
            @foreach (var item in Model.tList) {
            <text>['@item.MonthYearDate', @item.NetAmount],</text>
        }]);

        console.log("Data: ", data);

        var options = {
            title: 'Monthly Net Amount',
            curveType: 'function',
            pointsVisible: true,
            lineWidth: 3,
            legend: 'none',
            hAxis: {title: 'Time'},
            vAxis: {title: 'Net Amount'},
            width: '100%',
            height: '100%',
            chartArea: {width: '85%', height: '75%'}
            };

        var chart = new google.visualization.BarChart(document.getElementById('chart_test'));
        chart.draw(data, options);
        }
</script>

<div class="container-fluid lead">
    <div id="chart_test" style="width: 400px; height: 300px"></div>
</div>
