/* CSS for font families */

@font-face {
    font-family: Poppins;
    src: url("../Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: lighter;
    src: url("../Fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url("../Fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: lighter;
    src: url("../Fonts/OpenSans/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url("../Fonts/OpenSans/OpenSans-Bold.ttf");
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

body {
    background-color: #333;
    color: #fff;
    font-family: OpenSans;
    transition:.5s;
}

h1, h2, h3 {
    font-family: Poppins;
}

nav {
    font-family: Poppins;
    background-image: linear-gradient(#006747, #004727);
}

a.navbar-brand {
    font-family: OpenSans;
    font-weight: bold;
    color: #003717 !important;
    padding: 0px 20px 0px 0px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.1), 0px -1px 0px rgba(0,0,0,.7);
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

#darkMode {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#darkMode::after {
    content: "•";
    color: #09e;
    text-shadow: 0px 0px 5px #09e;
    text-align: center;
    font-size: 24pt;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: inset -1px -1px 3px rgba(255,255,255,0.2), inset 2px 2px 6px rgba(0,0,0,0.8);
    display: inline-block;
}

nav button.nav-link,
nav a.nav-link {
    text-shadow: -1px -1px 0px rgba(0,0,0,.3), 1px 1px 0px rgba(0,0,0,.1);
}

nav button.nav-link:hover,
nav a.nav-link:hover {
    text-shadow: -1px -1px 0px rgba(13,110,253,.2), 1px 1px 0px rgba(0,0,0,.5);
    color: #0d6efd !important;
}

#filterForm select,
#filterForm input {
    margin: 5px 20px 5px 0px;
}

#pageChanged label {
    margin-left: 20px;
}

#changePageNumber,
#changePageNumber:focus,
#changePageNumber:active {
    width: 40px;
    border: none;
    cursor: auto !important;
}

select,
#filterForm input,
#pageChanged input {
    background-color: #333;
    color: #fff !important;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#changePageNumber,
#filterForm input,
#filterForm input:-webkit-autofill,
#register input:-webkit-autofill,
#account input:-webkit-autofill,
#register input,
#account input {
    border-color: #fff !important;
    -webkit-box-shadow: 0 0 0 30px #333 inset;
    -webkit-text-fill-color: #fff;
    caret-color: #fff;
}

#register input:-webkit-autofill:focus,
#account input:-webkit-autofill:focus,
#register input:focus,
#account input:focus,
#register input:-webkit-autofill:hover,
#account input:-webkit-autofill:hover,
#register input:hover,
#account input:hover,
#register input:-webkit-autofill:active,
#account input:-webkit-autofill:active,
#register input:active,
#account input:active {
    background-color: #555;
    -webkit-box-shadow: 0 0 0 30px #555 inset;
}

#register input:invalid,
#account input:invalid {
    box-shadow: 0px 0px 5px #E30000;
}

label {
    margin: 0px 5px 0px 0px;
}

#filterBtn {
    border: none !important;
    margin: 0px 0px 5px 0px;
}

#filterSubmit {
    background-color: #4FA800 !important;
    -webkit-box-shadow: none !important;
    border: none;
    margin: 5px 0px 5px 10px;
}

#incrementPageButton,
#decrementPageButton {
    border: none !important;
}

#incrementPageButton:enabled,
#decrementPageButton:enabled,
.inactive {
    background-color: #4FA800 !important;
    transition: 0.3s
}

#incrementPageButton:disabled,
#decrementPageButton:disabled {
    background-color: #777;
}

.active {
    background-color: #006747 !important;
    transition: 0.3s
}

.closed {
    visibility: hidden;
    position: absolute;
    opacity: 0;
}

.open {
    visibility: visible;
    position: static;
    transition: 0.5s;
}

.trans-dr {
    text-align: right;
}

.trans-cr {
    color: #4FA800;
    text-align: right;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.5), 0px 0px 1px rgba(0,0,0,.5);
    font-weight: normal;
}
th {
    border-color: #444 !important;
}

td {
    border: none !important;
}

th,
tr:nth-child(even) {
    background-color: #777;
}

tr:nth-child(odd) {
    background-color: #555;
}

table tbody tr td a {
    opacity: 0;
    transition: 0.5s;
}

table tbody tr:hover td a {
    opacity: 1;
    transition: 0.2s;
}
