/* CSS for font families */

@font-face {
    font-family: Poppins;
    src: url("../Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("../Fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: lighter;
    src: url("../Fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: lighter;
    src: url("../Fonts/OpenSans/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url("../Fonts/OpenSans/OpenSans-Bold.ttf");
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

body {
    font-family: OpenSans;
}

nav {
    font-family: Poppins;
    background-image: linear-gradient(#006747, #004727);
}

a.navbar-brand {
    font-family: OpenSans;
    font-weight: bold;
    color: #003717 !important;
    padding: 0px 20px 0px 0px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.1), 0px -1px 0px rgba(0,0,0,.7);
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

nav button.nav-link,
nav a.nav-link {
    text-shadow: -1px -1px 0px rgba(0,0,0,.3), 1px 1px 0px rgba(0,0,0,.1);
}

nav button.nav-link:hover,
nav a.nav-link:hover {
    text-shadow: -1px -1px 0px rgba(13,110,253,.2), 1px 1px 0px rgba(0,0,0,.5);
    color: #0d6efd !important;
}

tr:nth-child(even) {
    background-color:#ccc;
}

table tbody tr td a {
    opacity: 0;
    transition: 0.5s;
}

table tbody tr:hover td a {
    opacity: 1;
    transition: 0.2s;
}
