/* Provide sufficient contrast against background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

body {
    color: #000;
    background-color: #fff;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}

/**/

select,
input {
    transition-property: background-color, color;
    transition-duration: 0.5s;
}

a.btn-primary,
button[type=submit].btn-primary,
#incrementPageButton,
#decrementPageButton {
    border: none !important;
}

.selected,
.avail {
    border-radius: 10% / 50% !important;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

a.btn-primary,
button[type=submit].btn-primary,
#incrementPageButton:enabled,
#decrementPageButton:enabled,
.avail:hover,
.selected {
    background-color: #4FA800 !important;
    color: #000 !important;
}

.avail {
    background-color: #006747 !important;
    color: #aaa !important;
}

.inactive {
    background-color: #4FA800 !important;
    transition: 0.3s
}

#incrementPageButton:disabled,
#decrementPageButton:disabled {
    background-color: #777;
}

.active {
    background-color: #006747 !important;
    transition: 0.3s
}

input:-webkit-autofill,
input {
    background: #fff;
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    border-color: #999 !important;
}

input:-webkit-autofill:focus,
input:focus,
input:-webkit-autofill:hover,
input:hover,
input:-webkit-autofill:active,
input:active {
    background: #ccc;
    -webkit-box-shadow: 0 0 0 30px #ccc inset;
}

#register input:invalid,
#account input:invalid {
    box-shadow: 0px 0px 5px #E30000;
}

#darkModeAfter {
    color: #555;
    text-align: center;
    font-size: 24pt;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: -1px -1px 3px rgba(255,255,255,0.2), 2px 2px 6px rgba(0,0,0,0.8);
    display: inline-block;
}

.trans-cr {
    color: #4FA800;
    text-shadow: 0px 0px 1px rgba(0,0,0,.3);
    font-weight: normal;
}

tr:nth-child(even) {
    background-color:#ccc;
}

table tbody tr td a {
    opacity: 0;
    transition: 0.5s;
}

table tbody tr:hover td a {
    opacity: 1;
    transition: 0.2s;
}
